@use "../../variables.scss" as *;

.component {

    &_wrapper {
        height: 90vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_main {
        width: 33.33%;
        max-width: 32rem;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem;
        border-radius: 0.5rem;
        border-width: 1px;
        background-color: $white;
    }

    &_heading {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 1.5rem;
    }
}

.linkContainer {
    margin-top: 1.25rem;
    padding-left: 0.25rem;

    .link {
        color: $bg-blue-600;

        &:hover {
            text-decoration: underline;
        }
    }
}